In [3]:
import pandas as pd
import numpy as np

In [4]:
df1=pd.read_csv("D:\data analysis\movie_dataset\movies_metadata - Copy - Copy - Copy - Copy.csv")

In [5]:
df2=pd.read_csv("D:\data analysis\movie_dataset\credits.csv")

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42680 entries, 0 to 42679
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    42680 non-null  object
 1   crew    42680 non-null  object
 2   id      42680 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1000.4+ KB

In [7]:
# s=df1['id'].apply(type).value_counts()

In [8]:
# df1['id'] = pd.to_numeric(df1['id'], errors='coerce').astype('Int64')

In [9]:
df3 = pd.merge(df1, df2, on='id', how='inner')

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38748 entries, 0 to 38747
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 38748 non-null  int64
 1   title              38748 non-null  object
 2   genres             38748 non-null  object
 3   original_language  38748 non-null  object
 4   overview           38748 non-null  object
 5   vote_average       38748 non-null  float64
 6   vote_count         38748 non-null  int64
 7   cast               38748 non-null  object
 8   crew               38748 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.7+ MB

In [11]:
# value_to_match = '[]'

# # Create a boolean mask to identify rows with the specified value
# mask = df3['crew'] == value_to_match

# # Use the boolean mask to select rows to delete
# df3 = df3[~mask]

In [12]:
df3.isnull().sum()

id                   0
title                0
genres               0
original_language    0
overview             0
vote_average         0
vote_count           0
cast                 0
crew                 0
dtype: int64

In [13]:
df3.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
38743    False
38744    False
38745    False
38746    False
38747    False
Length: 38748, dtype: bool

In [14]:
df3.drop_duplicates(inplace=True)

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38662 entries, 0 to 38747
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 38662 non-null  int64
 1   title              38662 non-null  object
 2   genres             38662 non-null  object
 3   original_language  38662 non-null  object
 4   overview           38662 non-null  object
 5   vote_average       38662 non-null  float64
 6   vote_count         38662 non-null  int64
 7   cast               38662 non-null  object
 8   crew               38662 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.9+ MB

In [16]:
df3.iloc[1333].genres

"[{'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}]"

In [17]:
def convert_g(text):
    l=[]
    for i in ast.literal_eval(text):
        l.append(i['name'])
    return l

In [18]:
import ast
df3['genres']=df3['genres'].apply(convert_g)

In [19]:
def convert_3(obj):
    L=[]
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [20]:
df3['cast']=df3['cast'].apply(convert_3)

In [21]:
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [22]:
df3['crew']=df3['crew'].apply(fetch_director)

In [23]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [24]:
df3['genres']=df3['genres'].apply(collapse)
df3['cast']=df3['cast'].apply(collapse)
df3['crew']=df3['crew'].apply(collapse)

In [25]:
df3.head()

,id,title,genres,original_language,overview,vote_average,vote_count,cast,crew
0,862,Toy Story,"[Animation, Comedy, Family]",en,"Led by Woody, Andy's toys live happily in his ...",7.7,5415,"[TomHanks, TimAllen, DonRickles]",[JohnLasseter]
1,8844,Jumanji,"[Adventure, Fantasy, Family]",en,When siblings Judy and Peter discover an encha...,6.9,2413,"[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston]
2,15602,Grumpier Old Men,"[Romance, Comedy]",en,A family wedding reignites the ancient feud be...,6.5,92,"[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch]
3,31357,Waiting to Exhale,"[Comedy, Drama, Romance]",en,"Cheated on, mistreated and stepped on, the wom...",6.1,34,"[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker]
4,11862,Father of the Bride Part II,[Comedy],en,Just when George Banks has recovered from his ...,5.7,173,"[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer]

In [26]:
df3['overview'].dtypes

dtype('O')

In [27]:
# Split the strings in the 'overview' column
df3['overview'] = df3['overview'].str.split()

In [28]:
df3.head(1)

,id,title,genres,original_language,overview,vote_average,vote_count,cast,crew
0,862,Toy Story,"[Animation, Comedy, Family]",en,"[Led, by, Woody,, Andy's, toys, live, happily,...",7.7,5415,"[TomHanks, TimAllen, DonRickles]",[JohnLasseter]

In [29]:
# Split the strings in the 'overview' column
# df3['original_language']=df3['original_language'].str.split()

In [30]:
df3['tags']=df3['crew']+df3['genres']+df3['cast']+df3['overview']

In [31]:
df3.head(2)

,id,title,genres,original_language,overview,vote_average,vote_count,cast,crew,tags
0,862,Toy Story,"[Animation, Comedy, Family]",en,"[Led, by, Woody,, Andy's, toys, live, happily,...",7.7,5415,"[TomHanks, TimAllen, DonRickles]",[JohnLasseter],"[JohnLasseter, Animation, Comedy, Family, TomH..."
1,8844,Jumanji,"[Adventure, Fantasy, Family]",en,"[When, siblings, Judy, and, Peter, discover, a...",6.9,2413,"[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston],"[JoeJohnston, Adventure, Fantasy, Family, Robi..."

In [32]:
df3=df3.drop(columns=['overview','genres', 'cast', 'crew' ])

In [33]:
df3['tags']=df3['tags'].apply(lambda x: " ".join(x))

In [34]:
df3['tags']=df3['tags'].str.lower()

In [35]:
df3['tags']

0        johnlasseter animation comedy family tomhanks ...
1        joejohnston adventure fantasy family robinwill...
2        howarddeutch romance comedy waltermatthau jack...
3        forestwhitaker comedy drama romance whitneyhou...
4        charlesshyer comedy stevemartin dianekeaton ma...
                               ...
38743    aaronosborne sciencefiction lisaboyle kenaland...
38744    johnirvin drama action romance patrickbergin u...
38745    hamidnematollah drama family leilahatami kouro...
38746    lavdiaz drama angelaquino perrydizon hazeloren...
38747    markl.lester action drama thriller erikaelenia...
Name: tags, Length: 38662, dtype: object

In [36]:
df3['title']=df3['title'].str.lower()

In [37]:
df3

,id,title,original_language,vote_average,vote_count,tags
0,862,toy story,en,7.7,5415,johnlasseter animation comedy family tomhanks ...
1,8844,jumanji,en,6.9,2413,joejohnston adventure fantasy family robinwill...
2,15602,grumpier old men,en,6.5,92,howarddeutch romance comedy waltermatthau jack...
3,31357,waiting to exhale,en,6.1,34,forestwhitaker comedy drama romance whitneyhou...
4,11862,father of the bride part ii,en,5.7,173,charlesshyer comedy stevemartin dianekeaton ma...
...,...,...,...,...,...,...
38743,222848,caged heat 3000,en,3.5,1,aaronosborne sciencefiction lisaboyle kenaland...
38744,30840,robin hood,en,5.7,26,johnirvin drama action romance patrickbergin u...
38745,439050,subdue,fa,4.0,1,hamidnematollah drama family leilahatami kouro...
38746,111109,century of birthing,tl,9.0,3,lavdiaz drama angelaquino perrydizon hazeloren...
38747,67758,betrayal,en,3.8,6,markl.lester action drama thriller erikaelenia...

In [38]:
df3['tags'][45]

'davidfincher crime mystery thriller bradpitt morganfreeman gwynethpaltrow two homicide detectives are on a desperate hunt for a serial killer whose crimes are based on the "seven deadly sins" in this dark and haunting film that takes viewers from the tortured remains of one victim to the next. the seasoned det. sommerset researches each sin in an effort to get inside the killer\'s mind, while his novice partner, mills, scoffs at his efforts to unravel the case.'

In [39]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# Download the necessary resources
nltk.download('punkt')
nltk.download('stopwords')

def remove_unmeaningful_words(sentence):
    # Tokenize the sentence into individual words
    tokens = word_tokenize(sentence)

    # Get the English stopwords (includes articles and conjunctions)
    stopwords_list = set(stopwords.words('english'))

    # Filter out stopwords from the tokens
    filtered_tokens = [token for token in tokens if token.lower() not in stopwords_list]

    # Reconstruct the sentence without the unmeaningful words
    filtered_sentence = ' '.join(filtered_tokens)

    return filtered_sentence

# Example sentence
sentence = "The quick brown fox jumps over an apple."

# Remove unmeaningful words from the sentence
filtered_sentence = remove_unmeaningful_words(sentence)

print(filtered_sentence)

quick brown fox jumps apple .

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KNIGHT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KNIGHT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [40]:
df3['tags']=df3['tags'].apply(remove_unmeaningful_words)

In [41]:
df3['tags'][45]

"davidfincher crime mystery thriller bradpitt morganfreeman gwynethpaltrow two homicide detectives desperate hunt serial killer whose crimes based `` seven deadly sins '' dark haunting film takes viewers tortured remains one victim next . seasoned det . sommerset researches sin effort get inside killer 's mind , novice partner , mills , scoffs efforts unravel case ."

In [42]:
import re

def remove_special_chars(sentence):
    cleaned_sentence = re.sub(r'[^\w\s]', '', sentence)
    return cleaned_sentence

# Example sentence
sentence = "Hello, world! This is a sample sentence with special characters."

# Remove special characters from the sentence
cleaned_sentence = remove_special_chars(sentence)

print(cleaned_sentence)

Hello world This is a sample sentence with special characters

In [43]:
df3['tags']=df3['tags'].apply(remove_special_chars)

In [44]:
df3['tags'][9]

'martincampbell adventure action thriller piercebrosnan seanbean izabellascorupco james bond must unmask mysterious head janus syndicate prevent leader utilizing goldeneye weapons system inflict devastating revenge britain '

In [45]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
import re

# Download the necessary resources
nltk.download('punkt')
nltk.download('wordnet')

def lemmatize_sentence(sentence):
    # Remove special characters from the sentence
    cleaned_sentence = re.sub(r'[^\w\s]', '', sentence)

    # Tokenize the cleaned sentence into individual words
    tokens = word_tokenize(cleaned_sentence)

    # Initialize the WordNet lemmatizer
    lemma = WordNetLemmatizer()

    # Lemmatize each word in the tokens
    lemmatized_tokens = [lemma.lemmatize(token) for token in tokens]

    # Reconstruct the lemmatized sentence
    lemmatized_sentence = ' '.join(lemmatized_tokens)

    return lemmatized_sentence

# Example sentence
sentence = "I have eaten apples and oranges. It was a delicious meal!"

# Lemmatize the sentence
lemmatized_sentence = lemmatize_sentence(sentence)

print(lemmatized_sentence)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\KNIGHT\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KNIGHT\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

I have eaten apple and orange It wa a delicious meal

In [46]:
df3['tags'].apply(lemmatize_sentence)

0        johnlasseter animation comedy family tomhanks ...
1        joejohnston adventure fantasy family robinwill...
2        howarddeutch romance comedy waltermatthau jack...
3        forestwhitaker comedy drama romance whitneyhou...
4        charlesshyer comedy stevemartin dianekeaton ma...
                               ...
38743    aaronosborne sciencefiction lisaboyle kenaland...
38744    johnirvin drama action romance patrickbergin u...
38745    hamidnematollah drama family leilahatami kouro...
38746    lavdiaz drama angelaquino perrydizon hazeloren...
38747    markllester action drama thriller erikaeleniak...
Name: tags, Length: 38662, dtype: object

In [47]:
max_length = len(df3['tags'].iloc[df3['tags'].str.len().idxmax()])
row_index = df3['tags'].str.len().idxmax()

print("Max Length:", max_length)
print("Row Index:", row_index)

Max Length: 270
Row Index: 29288

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2000,stop_words='english')

In [49]:
vector = cv.fit_transform(df3['tags']).toarray()

In [50]:
vector.shape

(38662, 2000)

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
similarity = cosine_similarity(vector)

In [63]:
similarity

array([[1.        , 0.0594701 , 0.07744031, ..., 0.08304548, 0.        ,
        0.        ],
       [0.0594701 , 1.        , 0.06677806, ..., 0.07161149, 0.05661385,
        0.        ],
       [0.07744031, 0.06677806, 1.        , ..., 0.09325048, 0.        ,
        0.        ],
       ...,
       [0.08304548, 0.07161149, 0.09325048, ..., 1.        , 0.15811388,
        0.12403473],
       [0.        , 0.05661385, 0.        , ..., 0.15811388, 1.        ,
        0.09805807],
       [0.        , 0.        , 0.        , ..., 0.12403473, 0.09805807,
        1.        ]])

In [53]:
df3[df3['title'] == 'jumanji'].index[0]

1

In [72]:
def recommend(movie):
    index = df3[df3['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    for i in distances[1:6]:
        print(df3.iloc[i[0]].title + ", rating=" + str(df3.iloc[i[0]].vote_average))

In [75]:
recommend('batman')

bablo, rating=6.8
massacre mafia style, rating=6.7
desperado, rating=6.8
young detective dee: rise of the sea dragon, rating=5.9
war pigs, rating=4.8

In [77]:
import pickle
pickle.dump(df3,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))